<h2>Edit <%= @artist.name %></h2>

<form method="POST" action="/artists/<%= @artist.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <% if @errors && @errors[:artist] %>
      <label for="name" style="color: violet;">
        <%= @errors[:artist] %>
      </label>
    <% else %>
      <label for="name">
        Change Name:
      </label>
    <% end %>
    <input
      type="text"
      name="name"
      id="name"
      value="<%= @artist.name %>"
      autocomplete="off"
      />
  </p>

  <input type="submit" value="SUBMIT" />
</form>

<a href="/artists"><input type="submit" value="CANCEL" /></a>

<p></p>

<h2>Delete Artist</h2>

<form method="POST" action="/artists/<%= @artist.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <p>
    <% if @errors && @errors[:password] %>
      <label for="password" style="color: violet;">
        <%= @errors[:password] %>
      </label>
    <% else %>
      <label for="password">
        Enter Password To Delete Artist:
      </label>
    <% end %>
    <input
      type="password"
      name="password"
      id="password"
      />
  </p>
  <input type="submit" value="DELETE ARTIST"></p>
</form>
