<h2>Edit User</h2>

<form method="POST" action="/settings">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <% if @errors && @errors[:username] %>
      <label for="username" style="color: violet;">
        <%= @errors[:username] %>
      </label>
    <% else %>
      <label for="username">
        Username:
      </label>
    <% end %>
    <input
      type="text"
      name="username"
      id="password"
      value="<%= current_user.username %>"
      autocomplete="off"
      />
  </p>

  <p>
    <% if @errors && @errors[:email] %>
      <label for="email" style="color: violet;">
        <%= @errors[:email] %>
      </label>
    <% else %>
      <label for="email">
        Email:
      </label>
    <% end %>
    <input
      type="email"
      name="email"
      id="password"
      value="<%= current_user.email %>"
      autocomplete="off"
      />
  </p>

  <p>
    <% if @errors && @errors[:password] %>
      <label for="password" style="color: violet;">
        <%= @errors[:password] %>
      </label>
    <% else %>
      <label for="password">
        Enter Password To Make Changes:
      </label>
    <% end %>
    <input
      type="password"
      name="password"
      id="password"
      />
  </p>

  <input type="submit" value="UPDATE" />
</form>

<p></p>

<h2>Change Password</h2>

<form method="POST" action="/password">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    Old Password:
    <input type="password" name="old_password" required />
  </p>

  <p>
    New Password:
    <input type="password" name="password" required />
  </p>

  <p>
    Confirm New Password:
    <input type="password" name="confirm_password" required />
  </p>

  <input type="submit" value="SUBMIT" />
</form>

<p></p>

<h2>Delete Account</h2>

<form method="POST" action="/users/<%= @user.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
  <p><label for="password">Enter Password to Delete User:</label> <input type="password" name="password" id="password" required /></p>

  <input type="submit" value="DELETE USER"></p>
</form></p>
