<h2>Edit News Item #<%= @news.id %></h2>

<form method="POST" action="/news/<%= @news.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <% if @errors && @errors[:date] %>
      <label for="date" style="color: violet;">
        <%= @errors[:date] %>
      </label>
    <% else %>
      <label for="date">
        Date:
      </label>
    <% end %>
    <input
      type="date"
      name="date"
      id="date"
      value=<% if params[:date] && !@errors[:date] %>
      "<%= params[:date] %>"
      <% else %>
      "<%= @news.date %>"
      <% end %>
      />
  </p>
  <p>
    <% if @errors && @errors[:content] %>
      <label for="contents" style="color: violet;">
        <%= @errors[:content] %>
      </label>
    <% else %>
      <label for="contents">
        Content:
      </label>
    <% end %>
    <textarea
      rows="1"
      name="content"
      id="contents"
      /><% if params[:content] && !@errors[:content] %><%= params[:content] %><% else %><%= @news.content %><% end %></textarea>
  </p>
  <p>
    <label for="url">URL:</label>
    <input
      type="url"
      name="url"
      id="url"
      autocomplete="off"
      value = <% if params[:url] && !@errors[:url] %>
      "<%= params[:url] %>"
      <% else %>
      "<%= @news.url %>"
      <% end %>
      />
  </p>
  <p>
    <label for="image_url">Image URL:</label>
    <input
      type="url"
      name="image_url"
      id="image_url"
      autocomplete="off"
      value = <% if params[:image_url] && !@errors[:image_url] %>
      "<%= params[:image_url] %>"
      <% else %>
      "<%= @news.image_url %>"
      <% end %>
      />
  </p>

  <input type="submit" value="UPDATE"/>
</form>

<a href="/news"><input type="submit" value="CANCEL" /></a>

<p></p>

<h2>Delete News Item</h2>

<form method="POST" action="/news/<%= @news.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <p>
    <% if @errors && @errors[:password] %>
      <label for="password" style="color: violet;">
        <%= @errors[:password] %>
      </label>
    <% else %>
      <label for="password">
        Enter Password To Delete News Item:
      </label>
    <% end %>
    <input
      type="password"
      name="password"
      id="password"
      />
  </p>
  <input type="submit" value="DELETE NEWS"></p>
</form>
