<h2>Edit News Item #<%= @news.id %></h2>

<form method="POST" action="/news/<%= @news.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>Date: <input type="date" name="date" value="<%= @news.date %>" required></p>
  <p>Content: <input type="text" name="content" autocomplete="off" value="<%= @news.content %>" required></p>
  <p>URL: <input type="url" name="url" autocomplete="off" value="<%= @news.url %>"></p>

  <input type="submit" value="SUBMIT"/>
  <a href="/news"><input type="submit" value="CANCEL" /></a>
</form>

<p></p>

<h2>Delete News Item</h2>

<form method="POST" action="/news/<%= @news.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">

  <p>Enter Password to Delete News Item: <input type="password" name="password" required /></p>
  <input type="submit" value="DELETE NEWS"></p>
</form>
