<% if request.path_info == "/news/pending" %>
  <h2>Pending News</h2>
<% else %>
  <h2>News</h2>
<% end %>

<table>
  <tr>
  <% @news.each do |news| %>
    <td>
      <% if logged_in? %>
        <a href="/news/<%= news.id %>/edit">
      <% end %>
      <% if !news.date.nil? && !news.date.empty? %>
        <%= news.date.to_date.strftime("%m.%d") %>
      <% end %>
      </a>
    </td>

    <td class="details">
      <% if !news.url.empty? %>
        <a href="<%= news.url %>" target="_blank">
      <% end %>
      <%= news.content %>
      <% if !news.image_url.nil? %>
        <img src="<%= news.image_url %>" width="100%">
      <% end %>
      </a>
    </td>
  </tr>
  <% end %>
</table>
