<h1>Edit Venue <%= @venue.name %></h1>

<form method="POST" action="/venues/<%= @venue.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

  Name: <input type="text" name="name" value="<%= @venue.name %>" autocomplete="off" required /></p>

  <input type="submit" /> <a href="/venues/<%= @venue.id %>">Cancel</a>
</form></p>

<form method="POST" action="/venues/<%= @venue.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Venue"></p>
</form></p>

<script src="datalist.polyfill.min.js"></script>
