<h2>Edit <%= @venue.name %></h2>

<form method="POST" action="/venues/<%= @venue.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <% if @errors && @errors[:venue] %>
      <label for="name" style="color: violet;">
        <%= @errors[:venue] %>
      </label>
    <% else %>
      <label for="name">
        Name:
      </label>
    <% end %>
    <input
      type="text"
      name="name"
      id="name"
      value="<%= @venue.name %>"
      autocomplete="off"
      />
  </p>

  <input type="submit" value ="UPDATE"/>
</form>

<a href="/venues"><input type="submit" value="CANCEL" /></a>

<p></p>

<h2>Delete Venue</h2>

<form method="POST" action="/venues/<%= @venue.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <p>
    <label for="password">Enter Password to Delete Venue:</label>
    <input
      type="password"
      name="password"
      id="password"
      required />
  </p>

  <input type="submit" value="DELETE VENUE"></p>
</form></p>
