<h2>Create a New Show</h2>

<form method="POST" action="/shows">
  <p>
    <% if @errors && @errors[:date] %>
      <label for="date" style="color: violet;">
        <%= @errors[:date] %>
      </label>
    <% else %>
      <label for="date">
        Date:
      </label>
    <% end %>
    <input
      type="date"
      name="date"
      id="date"
      value = "<%= params[:date] if /^\d{4}-\d{2}-\d{2}$/.match(params[:date]) %>"
      autocomplete="off"
    />
  </p>

  <p>
    <% if @errors && @errors[:venue] %>
      <label for="venue" style="color: violet;">
        <%= @errors[:venue] %>
      </label>
    <% else %>
      <label for="venue">
        Venue:
      </label>
    <% end %>
    <input
      type="text"
      list="venues"
      name="venue" id="venue"
      value = "<%= params[:venue] if params[:venue] %>"
      autocomplete="off"
    />
    <datalist id="venues">
      <% Venue.all.order("lower(name)").each do |venue| %>
        <option value="<%= venue.name %>"><%= venue.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <% if @errors && @errors[:artists] %>
      <label for="artist1" style="color: violet;">
        <%= @errors[:artists] %>
      </label>
    <% else %>
      <label for="artist1">
        Artist 1:
      </label>
    <% end %>
    <input
      type="text"
      list="artists"
      name="artists[]"
      id="artist1"
      value = "<%= params[:artists][0] if params[:artists]%>"
      autocomplete="off"
    />
    <datalist id="artists">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <label for="artist2">Artist 2:</label>
    <input
      type="text"
      list="artists2"
      name="artists[]"
      id="artist2"
      value = "<%= params[:artists][1] if params[:artists]%>"
      autocomplete="off"
    />
    <datalist id="artists2">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <label for="artist3">Artist 3:</label>
    <input
      type="text"
      list="artists3"
      name="artists[]"
      id="artist3"
      value = "<%= params[:artists][2] if params[:artists]%>"
      autocomplete="off"
    />
    <datalist id="artists3">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <label for="artist4">Artist 4:</label>
    <input
      type="text"
      list="artists4"
      name="artists[]"
      id="artist4"
      value = "<%= params[:artists][3] if params[:artists]%>"
      autocomplete="off"
    />
    <datalist id="artists4">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <label for="url">URL:</label>
    <input
      type="url"
      name="url"
      id="url"
      autocomplete="off"
    />
  </p>

  <input type="submit" value="SUBMIT"/>
</form>

<a href="/shows"><input type="submit" value="CANCEL" /></a>
