<h1>Create a New Show</h1>

<form method="POST" action="/shows/new">
  Date: <input type="date" name="date" required /> REQUIRED</p>

  Venue:
  <input type="text" list="venues" name="venue" autocomplete="off" required />
  <datalist id="venues">
    <% Venue.all.order(:name).each do |venue| %>
      <option value="<%= venue.name %>"><%= venue.name %></option>
    <% end %>
  </datalist> REQUIRED</p>

  Artist 1:
  <input type="text" list="artists" name="artists[]" autocomplete="off" required />
  <datalist id="artists">
    <% Artist.all.order(:name).each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist> REQUIRED</p>

  Artist 2:
  <input type="text" list="artists2" name="artists[]" autocomplete="off" />
  <datalist id="artists2">
    <% Artist.all.order(:name).each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist></p>

  Artist 3:
  <input type="text" list="artists3" name="artists[]" autocomplete="off" />
  <datalist id="artists3">
    <% Artist.all.order(:name).each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist></p>

  Artist 4:
  <input type="text" list="artists4" name="artists[]" autocomplete="off" />
  <datalist id="artists4">
    <% Artist.all.order(:name).each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist></p>

  URL: <input type="url" name="url" autocomplete="off" ></p>

  <input type="submit" /> <a href="/">Cancel</a>
</form>

<script src="datalist.polyfill.min.js"></script>
