<h2>Edit Show (ID: <%= @show.id %>)</h2>

<form method="POST" action="/shows/<%= @show.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

<p>
  <% if @errors && @errors[:date] %>
    <label for="date" style="color: violet;">
      <%= @errors[:date] %>
    </label>
  <% else %>
    <label for="date">
      Date:
    </label>
  <% end %>
  <input
    type="date"
    name="date"
    id="date"
    value=<% if params[:date] && !@errors[:date] %>
    "<%= params[:date] %>"
    <% else %>
    "<%= @show.date %>"
    <% end %>
    autocomplete="off"
  />
</p>

<p>
  <% if @errors && @errors[:venue] %>
    <label for="venue" style="color: violet;">
      <%= @errors[:venue] %>
    </label>
  <% else %>
    <label for="venue">
      Venue:
    </label>
  <% end %>
  <input
    type="text"
    list="venues"
    name="venue" id="venue"
    value = <% if params[:venue] && !@errors[:venue] %>
    "<%= params[:venue] %>"
    <% else %>
    "<%= @show.venue.name %>"
    <% end %>
    autocomplete="off"
  />
  <datalist id="venues">
    <% Venue.all.order("lower(name)").each do |venue| %>
      <option value="<%= venue.name %>"><%= venue.name %></option>
    <% end %>
  </datalist>
</p>

<p>
  <% if @errors && @errors[:artists] %>
    <label for="artist1" style="color: violet;">
      <%= @errors[:artists] %>
    </label>
  <% else %>
    <label for="artist1">
      Artist 1:
    </label>
  <% end %>
  <input
    type="text"
    list="artists"
    name="artists[]"
    id="artist1"
    value = <% if params[:artists] && !@errors[:artists] %>
    "<%= params[:artists][0] if !params[:artists][0].empty? %>"
    <% else %>
    "<%= @show.artists[0].name if @show.artists[0] %>"
    <% end %>
    autocomplete="off"
  />
  <datalist id="artists">
    <% Artist.all.order("lower(name)").each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist>
</p>

<p>
  <label for="artist2">Artist 2:</label>
  <input
    type="text"
    list="artists2"
    name="artists[]"
    id="artist2"
    value = <% if params[:artists] && !@errors[:artists] %>
    "<%= params[:artists][1] %>"
    <% else %>
    "<%= @show.artists[1].name if @show.artists[1] %>"
    <% end %>
    autocomplete="off"
  />
  <datalist id="artists2">
    <% Artist.all.order("lower(name)").each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist>
</p>

<p>
  <label for="artist3">Artist 3:</label>
  <input
    type="text"
    list="artists3"
    name="artists[]"
    id="artist3"
    value = <% if params[:artists] && !@errors[:artists] %>
    "<%= params[:artists][2] %>"
    <% else %>
    "<%= @show.artists[2].name if @show.artists[2] %>"
    <% end %>
    autocomplete="off"
  />
  <datalist id="artists3">
    <% Artist.all.order("lower(name)").each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist>
</p>

<p>
  <label for="artist4">Artist 4:</label>
  <input
    type="text"
    list="artists4"
    name="artists[]"
    id="artist4"
    value = <% if params[:artists] && !@errors[:artists] %>
    "<%= params[:artists][3] if params[:artists][3] %>"
    <% else %>
    "<%= @show.artists[3].name if @show.artists[3] %>"
    <% end %>
    autocomplete="off"
  />
  <datalist id="artists4">
    <% Artist.all.order("lower(name)").each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist>
</p>

<p>
  <label for="artist4">Artist 5:</label>
  <input
    type="text"
    list="artists5"
    name="artists[]"
    id="artist5"
    value = <% if params[:artists] && !@errors[:artists] %>
    "<%= params[:artists][4] if params[:artists][4] %>"
    <% else %>
    "<%= @show.artists[4].name if @show.artists[4] %>"
    <% end %>
    autocomplete="off"
  />
  <datalist id="artists5">
    <% Artist.all.order("lower(name)").each do |artist| %>
      <option value="<%= artist.name %>"><%= artist.name %></option>
    <% end %>
  </datalist>
</p>

<p>
  <label for="url">URL:</label>
  <input
    type="url"
    name="url"
    id="url"
    value = <% if params[:url] && !@errors[:url] %>
    "<%= params[:url] %>"
    <% else %>
    "<%= @show.url %>"
    <% end %>
    autocomplete="off"
  />
</p>

  <input type="submit" value="UPDATE"/>
</form>

<a href="/shows/<%= @show.id %>"><input type="submit" value="CANCEL" /></a>

<p></p>

<h2>Delete Show</h2>

<form method="POST" action="/shows/<%= @show.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <p>
    <% if @errors && @errors[:password] %>
      <label for="password" style="color: violet;">
        <%= @errors[:password] %>
      </label>
    <% else %>
      <label for="password">
        Enter Password To Delete Show:
      </label>
    <% end %>
    <input type="password" name="password" id="password" />
  </p>

  <input type="submit" value="DELETE SHOW" />
  <p></p>
</form></p>
