<h2>Edit Show #<%= @show.id %></h2>

<form method="POST" action="/shows/<%= @show.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date" value="<%= @show.date %>" required />
  </p>

  <p>
    <label for="venue">Venue:</label>
    <input type="text" list="venues" name="venue" id="venue" value="<%= @show.venue.name %>" autocomplete="off" required />
    <datalist id="venues">
      <% Venue.all.order("lower(name)").each do |venue| %>
        <option value="<%= venue.name %>"><%= venue.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <label for="artist1">Artist 1:</label>
    <input type="text" list="artists" name="artists[]" id="artist1" value="<%= @show.artists[0].name if @show.artists[0]%>" autocomplete="off" required />
    <datalist id="artists">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <label for="artist2">Artist 2:</label>
    <input type="text" list="artists2" name="artists[]" id="artist2" value="<%= @show.artists[1].name if @show.artists[1]%>" autocomplete="off" />
    <datalist id="artists2">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist></p>

  <p>
    <label for="artist3">Artist 3:</label>
    <input type="text" list="artists3" name="artists[]" id="artist3" value="<%= @show.artists[2].name if @show.artists[2]%>" autocomplete="off" />
    <datalist id="artists3">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist>
  </p>

  <p>
    <label for="artist4">Artist 4:</label>
    <input type="text" list="artists4" name="artists[]" id="artist4" value="<%= @show.artists[3].name if @show.artists[3]%>" autocomplete="off" />
    <datalist id="artists4">
      <% Artist.all.order("lower(name)").each do |artist| %>
        <option value="<%= artist.name %>"><%= artist.name %></option>
      <% end %>
    </datalist>
  </p>

  <p><label for="url">URL:</label>
    <input type="url" name="url" id="url" value="<%= @show.url %>" autocomplete="off" >
  </p>

  <input type="submit" value="UPDATE"/>
</form>

<a href="/shows/<%= @show.id %>"><input type="submit" value="CANCEL" /></a>

<p></p>

<h2>Delete Show</h2>

<form method="POST" action="/shows/<%= @show.id %>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">

  <p><label for="password">Enter Password to Delete Show:</label> <input type="password" name="password" id="password" required /></p>
  <input type="submit" value="DELETE SHOW"></p>
</form></p>
