<% if request.path_info == "/shows/archive" %>
  <h2>Show Archive</h2>
<% else %>
  <h2>Upcoming Shows</h2>
<% end %>

Change so that if request.path_info == "/shows" then mm.dd,
otherwise (archive and all shows) mm.dd.yy. Then delete "all_shows.erb"

<table>
  <tr>
  <% @shows.each do |show| %>
    <td>
      <% if logged_in? %>
        <a href="/shows/<%= show.id %>">
      <% end %>

      <% if request.path_info == "/shows" %>
        <%= show.date.to_date.strftime("%m.%d") %>
      <% else %>
        <%= show.date.to_date.strftime("%m.%d.%y") %>
      <% end %>
      </a>
    </td>

    <td class="details">
      <% if !show.url.nil? %>
      <a href="<%= show.url %>">
      <% end %>
      <%= show.artists.collect { |artist| artist.name }.join(" + ") %> at <%= show.venue.name %>
      </a>
    </td>
  </tr>
  <% end %>
</table>
