<h2>Show (ID: <%= @show.id %>) Details</h2>

<p>
  <strong>Date:</strong>
  <%= @show.date.to_date.strftime("%A, %B %d, %Y") %>
</p>

<p>
  <strong>Venue:</strong>
  <a href="/venues/<%= @show.venue.slug %>"><%= @show.venue.name %></a>
</p>

<p>
  <strong>Artists:</strong>
  <ul>
    <% @show.artists.each do |artist| %>
      <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Artist Order:</strong>
  <%= @show.artist_order %>
</p>

<p>
  <strong>URL:</strong>
  <a href="<%= @show.url %>"><%= @show.url %></a>
</p>

<h3><a href="/shows/<%= @show.id %>/edit">Edit Show</a></h3>
