<% if request.path_info == "/shows/archive" %>
  <h2>Show Archive</h2>
<% elsif request.path_info == "/shows/all" %>
  <h2>All Shows</h2>
<% else %>
  <h2>Upcoming Shows</h2>
<% end %>

<table>
  <tr>
  <% @shows.each do |show| %>
    <td>
      <% if logged_in? %>
        <a href="/shows/<%= show.id %>">
      <% end %>

      <% if request.path_info == "/shows" || request.path_info == "/" %>
        <%= show.date.to_date.strftime("%m.%d") %>
      <% else %>
        <%= show.date.to_date.strftime("%m.%d.%y") %>
      <% end %>
      </a>
    </td>

    <td class="details">
      <% if !show.url.nil? && !show.url.empty? %>
      <a href="<%= show.url %>" target="_blank">
      <% end %>
      <!-- <%= show.artists.collect { |artist| artist.name }.join(" + ") %> at <%= show.venue.name %> -->
      <%= show.artist_order %> at <%= show.venue.name %>
      </a>
    </td>
  </tr>
  <% end %>
</table>
