<h2 class="center">Show Archive</h2>

<table>
  <tr>
  <% @shows.each do |show| %>
    <td>
      <% if logged_in? %>
      <a href="/shows/<%= show.id %>">
      <% end %>
      <%= show.date.to_date.strftime("%m.%d.%y") %>
      </a>
    </td>

    <td class="details">
      <% if !show.url.nil? %>
      <a href="<%= show.url %>">
      <% end %>
      <%= show.artists.collect { |artist| artist.name }.join(" + ") %> at <%= show.venue.name %>
      </a>
    </td>
  </tr>
  <% end %>
</table>
