<hr>
<h3>Time.now <%= Time.now %></h3>
<h3>Time.now.asctime <%= Time.now.asctime %></h3>
<h3>Time.now.to_a <%= Time.now.to_a %></h3>
<h3>Time.now.to_s <%= Time.now.to_s %></h3>
<h3>Time.now.strftime("%F") <%= Time.now.strftime("%F") %></h3>
<hr>

<h2>Time.new <%= Time.new(2017, 7, 8, 18) %></h2>
<hr>

<%= DateTime.now %>
