<h1>Show <%= @show.id %> Details</h1>

Date: <%= @show.date %> parsed: <%= Date.parse(@show.date) %></p>

Venue: <%= @show.venue.name %></p>

Artists: <%= @show.artists.collect { |artist| artist.name }.join(" + ") %></p>

URL: <%= @show.url %></p>
