<h2>Show I.D. #<%= @show.id %> Details</h2>

<p>Date: <%= @show.date.to_date.strftime("%A, %B %d, %Y") %> </p>

<p>Venue: <a href="/venues/<%= @show.venue.id %>"><%= @show.venue.name %></a></p>

<p>Artists:
  <ul>
    <% @show.artists.collect do |artist| %>
      <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
    <% end %>
  </ul>
</p>

<p>URL: <a href="<%= @show.url %>"><%= @show.url %></a></p>
