<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= url('/favicons/apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= url('/favicons/apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= url('/favicons/apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= url('/favicons/apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= url('/favicons/apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= url('/favicons/apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= url('/favicons/apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= url('/favicons/apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= url('/favicons/apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= url('/favicons/android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= url('/favicons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= url('/favicons/favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= url('/favicons/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= url('/favicons/manifest.json') %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= url('/favicons/ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">

  <title>Sickbay - Local Alternative Music Shows in Lafayette, Louisiana</title>
</head>

<body>
  <div id="skip">
    <p><a href="#content">Skip to Main Content</a></p>
  </div>

  <header>
    <div class="wrapper">
      <div id="logo">
        <h1><a href="/">Sickbay</a></h1>
      </div>
      <nav>
        <a href="/news" <% if request.path_info == "/news" %> class="active" <% end %>>News</a>
        <a href="/shows" <% if request.path_info == "/shows" %> class="active" <% end %>>Shows</a>
        <a href="/shows/archive" <% if request.path_info == "/shows/archive" %> class="active" <% end %>>Archive</a>
        <a href="https://www.instagram.com/sickbay.jpg/" target="_blank">Sights</a>
        <a href="https://sickbaysounds.bandcamp.com/" target="_blank">Sounds</a>
      </nav>
      <% if logged_in? %>
      <nav class="logged_in">
        <span>
          <a href="/shows/new" <% if request.path_info == "/shows/new" %> class="active" <% end %>>New Show</a>
          <a href="/dashboard" <% if request.path_info == "/dashboard" %> class="active" <% end %>>Dashboard</a>
          <a href="/logout">Log Out</a>
        </span>
      </nav>
      <% end %>
    </div> <!-- .wrapper -->
  </header>

  <div class="wrapper clearfix">
    <section id="content">
      <% if flash.has?(:message) %>
        <p class="flash"><%= flash[:message] %></p>
      <% end %>

      <%= yield %>

    </section>
  </div> <!-- .wrapper .clearfix -->

  <div class="wrapper clearfix">
    <footer>
      <p>&copy; 2017 Sickbay. All Rights Reserved.</p>
      <p>
        <a href="https://www.instagram.com/sickbay.jpg/" target="_blank"><img src="<%= url('/instagram.png') %>" class="icon" alt="Instagram"></a>
        <a href="https://www.facebook.com/sickbay.mag/" target="_blank"><img src="<%= url('/facebook.png') %>" class="icon" alt="Facebook"></a>
        <a href="mailto:sickbay.party@gmail.com"><img src="<%= url('/mail.png') %>" class="icon" alt="Email"></a>
      </p>
    </footer>
  <p></p>
  </div>

  <script src="<%= url('/datalist.polyfill.min.js') %>"></script>

</body>
</html>
